[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pdf2image = "*"
numpy = "*"
opencv-python-headless = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
